@using Imi.Project.Blazor.Models

<div class="container">
    <button class="btn btn-primary" style="position: absolute;top: 0;right: 0; margin:10px;" @onclick="OnAdd">Add Film</button>
    <div class="row">
        @foreach (var item in Items)
        {
            <div class="col">
                <div class="card h-100" style="width: 18rem">
                        <img class="card-img-top" src="@item.Image" alt="@item.Image">
                        <div class="card-body">
                            <h4><b>@item.Title</b></h4>
                            <p>@item.ReleaseYear</p>
                            <p>@item.DirectorName</p>
                            <p>@item.GenreName</p>
                            <button class="btn btn-warning" @onclick="f => OnEdit.InvokeAsync(item)">Edit</button>
                            <button class="btn btn-danger" @onclick="f => OnDelete.InvokeAsync(item)">Delete</button>
                        </div>
                    </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Film[] Items { get; set; }

    [Parameter]
    public EventCallback OnAdd { get; set; }

    [Parameter] 
    public EventCallback<Film> OnEdit { get; set; }

    [Parameter] 
    public EventCallback<Film> OnDelete { get; set; }
}
