@using Imi.Project.Blazor.Models.Quiz
<div class="container">
    <button class="btn btn-danger" style="position: absolute;top: 0;right: 0; margin:10px;" @onclick="OnStop">Stop Quiz</button>
    <h2 class="question">@Question.Question</h2>
    <div class="answers">
        <button class="btn btn-light">@Question.Answers[0].PossibleAnswer</button>
        <button class="btn btn-light">@Question.Answers[1].PossibleAnswer</button><br>
        <button class="btn btn-light">@Question.Answers[2].PossibleAnswer</button>
        <button class="btn btn-light">@Question.Answers[3].PossibleAnswer</button>
    </div>
</div>

@code {
    [Parameter]
    public QuizItem Question { get; set; }
    [Parameter]
    public EventCallback OnStop { get; set; }
}
